In [1]:
from api.survset.data import SurvLoader

data = 'FRTCS'

loader = SurvLoader()

# load dataset and its reference
df, ref = loader.load_dataset(ds_name=data).values()
df = df.sample(frac=1).reset_index(drop=True)

# collect numerical and categorical features
cat_feats, num_feats = [], []
for i in df.columns:
    if i.split('_')[0] == 'num':
        num_feats.append(i)
    if i.split('_')[0] == 'fac':
        cat_feats.append(i)

# features = preprocessing.Preprocessor().fit_transform(
#     df[num_feats + cat_feats], cat_feats=cat_feats, num_feats=num_feats)

In [2]:
df

,pid,event,time,num_age,num_spb0,num_dbp0,num_spb1,num_dpb1,num_spb2,num_dpb2,num_date0,num_date1,fac_sex,fac_antihyp0,fac_antihyp1,fac_antihyp2
0,295,0,539,76,153.0,76.0,132.5,62.5,133.0,67.0,1287,647,F,N,N,N
1,344,0,583,67,151.5,84.5,140.0,75.0,148.0,79.5,1243,585,F,Y,Y,Y
2,690,0,284,68,134.5,77.0,140.0,68.5,131.0,70.5,1395,758,M,Y,Y,Y
3,622,0,458,69,154.0,79.0,149.0,78.0,139.5,71.0,1368,743,M,N,Y,Y
4,419,0,570,67,139.5,83.0,136.0,86.0,162.5,95.0,1256,630,M,Y,Y,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
692,634,0,440,76,150.0,77.0,169.0,82.5,147.5,73.5,1386,749,M,Y,Y,Y
693,163,0,406,70,160.5,89.0,133.5,74.0,161.5,87.0,1420,664,F,N,N,N
694,428,0,543,74,148.5,98.5,167.5,98.0,160.0,84.0,1283,649,F,Y,Y,Y
695,637,0,454,77,127.5,81.0,138.5,76.0,137.0,61.0,1372,780,M,N,N,N
696,638,0,467,86,162.0,100.0,195.5,102.5,170.5,80.0,1359,749,M,N,N,N

In [3]:
'{:.2f}'.format((1 - df.event.sum() / df.shape[0]) * 100)

'89.67'

In [4]:
cat_feats

['fac_sex', 'fac_antihyp0', 'fac_antihyp1', 'fac_antihyp2']

In [5]:
num_feats

['num_age',
 'num_spb0',
 'num_dbp0',
 'num_spb1',
 'num_dpb1',
 'num_spb2',
 'num_dpb2',
 'num_date0',
 'num_date1']

In [9]:
from api.auton import preprocessing

data = 'TRACE'

loader = SurvLoader()

# load dataset and its reference
df, ref = loader.load_dataset(ds_name=data).values()
df = df.sample(frac=1).reset_index(drop=True)

# collect numerical and categorical features
cat_feats, num_feats = [], []
for i in df.columns:
    if i.split('_')[0] == 'num':
        num_feats.append(i)
    if i.split('_')[0] == 'fac':
        cat_feats.append(i)

features = preprocessing.Preprocessor().fit_transform(
    df[num_feats + cat_feats], cat_feats=cat_feats, num_feats=num_feats)
features

,num_wmi,num_age,fac_sex_M,fac_chf_present,fac_diabetes_present,fac_vf_present
0,-0.237564,-0.007528,0,0,1,0
1,0.974787,0.236470,0,0,0,0
2,0.732317,-1.175938,0,0,0,0
3,-0.237564,0.262784,1,0,0,0
4,0.974787,-1.564534,0,1,0,0
...,...,...,...,...,...,...
1873,1.459727,0.630223,0,0,0,0
1874,-0.722504,2.195621,1,1,0,0
1875,1.459727,0.793267,1,0,0,0
1876,-0.964975,1.116558,0,1,0,0
1877,-1.449915,1.586370,1,1,0,0