In [1]:
from api.survset.data import SurvLoader

In [2]:
loader = SurvLoader()
# List of available datasets and meta-info
loader.df_ds

          ds  is_td      n  n_fac  n_ohe  n_num
0     hdfail  False  52422      5     87      1
1     stagec  False    146      4     15      3
2    veteran  False    137      3      5      3
3        vdv  False     78      0      0   4705
4   AML_Bull  False    116      0      0   6283
..       ...    ...    ...    ...    ...    ...
71  prostate  False    502      6     16      9
72   flchain  False   7874      4     26      6
73     grace  False   1000      2      2      3
74   gse3143  False    158      1      3   8660
75    scania  False   1931      4      7      1

[76 rows x 6 columns]

In [8]:
# Load dataset and its reference
df, ref = loader.load_dataset(ds_name='TRACE').values()
df.head()

   pid  event   time  num_wmi  num_age fac_sex  fac_chf fac_diabetes   fac_vf
0    0      1  6.237      1.9   66.114       M   absent       absent   absent
1    1      1  0.858      2.0   67.668       F  present       absent   absent
2    2      0  6.154      1.8   42.243       F   absent      present   absent
3    3      1  0.036      1.4   77.579       M  present      present  present
4    4      1  4.609      1.6   51.863       F   absent       absent   absent

In [11]:
ref

'https://rdrr.io/cran/timereg/man/TRACE.html'

In [9]:
from api.auton import preprocessing

# collect numerical and categorical features
cat_feats, num_feats = [], []
for i in df.columns:
    if i.split('_')[0] == 'num':
        num_feats.append(i)
    if i.split('_')[0] == 'fac':
        cat_feats.append(i)

features = preprocessing.Preprocessor().fit_transform(
    df[num_feats + cat_feats], cat_feats=cat_feats, num_feats=num_feats)
features

,num_wmi,num_age,fac_sex_M,fac_chf_present,fac_diabetes_present,fac_vf_present
0,1.217257,-0.077030,1,0,0,0
1,1.459727,0.058826,0,1,0,0
2,0.974787,-2.163907,0,0,1,0
3,0.004906,0.925276,1,1,1,1
4,0.489847,-1.322896,0,0,0,0
...,...,...,...,...,...,...
1873,-0.964975,-1.432175,0,1,1,0
1874,0.489847,1.128535,1,1,0,0
1875,-0.480034,-1.531226,0,0,0,0
1876,-0.964975,0.756550,0,1,0,0
1877,0.004906,-0.077030,1,0,0,0

In [10]:
import pandas as pd

pd.read_csv('../results/pred_coxkan_TRACE_0.csv', index_col=[0])

            0         1    2    3    4    5       0.1
0   -0.237564 -0.161218  0.0  0.0  0.0  0.0 -0.875724
1    0.974787  1.710510  1.0  1.0  0.0  0.0  0.841702
2   -0.964975 -0.958604  1.0  1.0  0.0  1.0  0.210399
3   -1.692385 -0.097662  0.0  1.0  0.0  0.0  0.668173
4    1.217257  0.608455  0.0  1.0  0.0  0.0  0.163143
..        ...       ...  ...  ...  ...  ...       ...
370  1.217257  0.453104  1.0  1.0  0.0  0.0 -0.074250
371 -1.692385  0.244338  0.0  0.0  0.0  0.0  0.322409
372  1.217257 -2.713273  1.0  0.0  0.0  0.0 -2.047113
373 -0.237564  0.291546  1.0  1.0  0.0  0.0 -0.006358
374 -0.480034 -1.552032  0.0  1.0  0.0  1.0 -0.248730

[375 rows x 7 columns]